body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color: #456;

}
a {
    color: #456;
}
.centered-container {
    display: flex;
    margin: auto;

    flex-flow: column wrap;

    justify-content: center;
    align-items: center;
}

.site-footer {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #456;
    border-top: 1px solid #ccd;
    background: aliceblue;
}

