@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

button {
    width: 20%;
    font-size: 20px;
}

.slots-container {
    display: grid;

    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    gap: 5px;

    border: 11px solid transparent;
    border-image: linear-gradient(135deg,rgba(232, 178, 63, 1) 0%, rgba(237, 83, 196, 1) 100%);
    border-image-slice: 1;

    width: fit-content; height: fit-content;
    overflow: hidden;
}

.slots-cell {
    background: none;
    border: none;

    font-family: "Noto Sans JP", sans-serif;
    font-size: 100px;
    text-align: center;

    width: 150px; height: 150px;
}

#credit-display {
    font-family: sans-serif;
    font-size: 40px;
}